@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  h1 {
    @apply font-[700] text-[18px]  sm:text-[25px] md:text-[32px] lg:text-[48px] leading-[40px] md:leading-[65px];
  }

  p {
    @apply font-[400] text-[16px] md:text-[18px] leading-[27px] text-[#1e1e1e];
  }
  h2 {
    @apply font-[700] text-[20px] md:text-[28px] lg:text-[36px];
  }
  h3 {
    @apply font-[600] text-[18px] md:text-[20px] lg:text-[22px] leading-[36px] text-[#18191A];
  }
  h4 {
    @apply font-[400] lg:text-[20px] leading-[30px];
  }
  h5 {
    @apply font-[700] lg:text-[14px];
  }
  h6 {
    @apply font-[400] text-[14px];
  }
  .btn-primary {
    @apply bg-primary text-white;
  }
  .btn-secondary {
    @apply text-primary;
  }
}

.under-line {
  position: relative;
  display: inline-block;
  color: #1e1e1e;
  margin-right: 20px;
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
}
.under-line {
  display: inline-block;
  text-decoration: none;
}

.under-line::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3953fb;
  visibility: "hidden";
  transition: all 0.3s ease-in-out;
}
.under-line:hover::before {
  visibility: visible;
  width: 100%;
}

.section {
  clip-path: ellipse(90% 100% at 50% 0%);
}

.top-half-circle {
  clip-path: ellipse(100% 100% at 50% 100%);
}